.vscode
61TA03_Gestión_Estudiantes_Raul_Rufo.py
estudiantes.txt
estudiantes2.txt
estudiantes2.json
main.py
pruebasFicheros.ipynb
61_Ej_Graficos.ipynb
61Ej_Funciones.ipynb
Ficheros_Ej
Gestion_estudiantes
mi_pack
classes.ipynb
